* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr>* {
    height: auto;
    padding-top: 1.5em;
}

#inputString {
    width: 100%;
}

[type="number"] {
    width: 50%;
}

#updateBtn {
    margin: 1em;
}

#printBox {
    border: 3px solid black;
    min-width: auto;
    min-height: auto;

    display: flex;
    padding: 0;
    margin: 20px;
}

#printText {
    margin: 0;
    padding: 0;
}